*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}
.container{
    text-align: center;
    background-color:white;
    color:black;
    padding: 30px;
}
button{
    margin-top: 10px;
    padding: 8px;
    background-color:green;
    border: none;
    border-radius: 5px;
    color: white;
}